.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 480px;
    padding: 20px;
    outline: 2px solid black;
};

.form__label {
    display: flex;
    gap: 8px;
    flex-direction: column;
    font-weight: 700;
};

.form__input {
    width: 80px;
};

.form__button {
    display: flex;
    width: 60px;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
};